/* CSS comments*/

h1,
h2,
h3 {
  color: #1089ad;
}

h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #1089ad;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-size: 20px;
  font-family: sans-serif;
}

footer p {
  font-size: 14px;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1089ad;
  border-bottom: 5px solid #1089ad;
}

/* Pseudo Class Example*/

li:first-child {
  font-weight: bold;
}

li:nth-child(2) {
  color: rebeccapurple;
}

li:nth-child(odd) {
  color: red;
}

a:link {
  color: #1089ad;
  text-decoration: none;
}

a:visited {
  color: #1089ad;
}

a:hover {
  color: chocolate;
}

a:active {
  background-color: black;
}
